<header>
  <nav id="navbar">
    <div class="container">
      <h1 class="logo"><a href="{% url 'index' %}"></a>HBT</h1>
      <ul>
        <li><a class="current" href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contacts' %}">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1> <span class="text-primary">Enjoy</span> Your stay</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus inventore facere architecto eveniet possimus quidem?</p>
        <a class="btn" href="{% url 'about' %}">About Our Hotel</a>
      </div>
    </div>
  </div>
</header>